/* Form.module.css */
.input {
    width: 100%;
    max-width: 400px;
    border: 2px solid var(--border-color);
    padding: 11px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    background-color: var(--input-bg);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input:focus {
    outline-color: var(--focus-outline);
    box-shadow: 0 4px 8px var(--shadow-color);
    border-color: var(--primary-color);
}

.formContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}


/* form.module.css */
.button {
    margin-left: 10px;
    border-radius: 8px;
    border: 3px solid linear-gradient(to right, rgb(139, 139, 195), darkorchid);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #8575ff;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffffff;
}

/* Hover effect */
.button:hover {
    border-color: linear-gradient(to right, rgb(139, 139, 195), darkorchid);
    /* Highlight color on hover */
}

/* Focus effect */
.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Light theme preferences */
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    .button {
        background-color: #f9f9f9;
        /* Light background in light mode */
    }
}

